<a href="https://colab.research.google.com/github/rutgerhofste/hyde/blob/master/Y2019M07D29_RH_yearstring_to_integer_V01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The period covered is 10 000 BCE to 2015 CE

Time intervals are 1000 yr for the BCE period, then 100 yr till 1700, 10 yr till 2000, and from 2000 - 2015 (n.b. probably typo, data available until 2017) 1 year timesteps.

In [0]:
Y_BCE = list(range(-10000,0,1000))
Y_BCE_1700 = list(range(0,1700,100))
Y_1700_2000 = list(range(1700,2000,10))
Y_2000_2017 = list(range(2000,2017+1,1))

In [0]:
years = Y_BCE + Y_BCE_1700 + Y_1700_2000 + Y_2000_2015

In [0]:
def numeric_to_string(year):
  """
  Convert numeric year to string
  """
  if year < 0 :
    yearstring = "{}BC".format(year*-1)
  elif year >= 0:
    yearstring = "{}AD".format(year)
  else:
    raise
  return yearstring

In [0]:
year_strings = map(numeric_to_string,years)

In [0]:
years_dict =  dict(zip(year_strings ,years))

In [0]:
years_dict

{'0AD': 0,
 '10000BC': -10000,
 '1000AD': 1000,
 '1000BC': -1000,
 '100AD': 100,
 '1100AD': 1100,
 '1200AD': 1200,
 '1300AD': 1300,
 '1400AD': 1400,
 '1500AD': 1500,
 '1600AD': 1600,
 '1700AD': 1700,
 '1710AD': 1710,
 '1720AD': 1720,
 '1730AD': 1730,
 '1740AD': 1740,
 '1750AD': 1750,
 '1760AD': 1760,
 '1770AD': 1770,
 '1780AD': 1780,
 '1790AD': 1790,
 '1800AD': 1800,
 '1810AD': 1810,
 '1820AD': 1820,
 '1830AD': 1830,
 '1840AD': 1840,
 '1850AD': 1850,
 '1860AD': 1860,
 '1870AD': 1870,
 '1880AD': 1880,
 '1890AD': 1890,
 '1900AD': 1900,
 '1910AD': 1910,
 '1920AD': 1920,
 '1930AD': 1930,
 '1940AD': 1940,
 '1950AD': 1950,
 '1960AD': 1960,
 '1970AD': 1970,
 '1980AD': 1980,
 '1990AD': 1990,
 '2000AD': 2000,
 '2000BC': -2000,
 '2001AD': 2001,
 '2002AD': 2002,
 '2003AD': 2003,
 '2004AD': 2004,
 '2005AD': 2005,
 '2006AD': 2006,
 '2007AD': 2007,
 '2008AD': 2008,
 '2009AD': 2009,
 '200AD': 200,
 '2010AD': 2010,
 '2011AD': 2011,
 '2012AD': 2012,
 '2013AD': 2013,
 '2014AD': 2014,
 '2015AD': 2015,
 '3000BC': -3000,
 '300AD': 300,
 '4000BC': -4000,
 '400AD': 400,
 '5000BC': -5000,
 '500AD': 500,
 '6000BC': -6000,
 '600AD': 600,
 '7000BC': -7000,
 '700AD': 700,
 '8000BC': -8000,
 '800AD': 800,
 '9000BC': -9000,
 '900AD': 900}